body {
    background-image: url('C:\\Users\\bourgade\\Pictures\\jazz.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  /* Navigation */
  nav {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  nav a:hover {
    background-color: #111;
  }
  
  /* Header */
  header {
    text-align: center;
    padding: 100px 50px;
  }
  
  header h1 {
    font-size: 48px;
    margin-top: 0;
    text-shadow: 2px 2px 4px #000000;
  }
  
  /* H */
  div h1 {
  font-size: 70px;
  color: white;
  text-align: center;
  }

 #header {
  font-size: 30px;
  color: white;
  text-align: center;
  }

  #header-btn {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  display: block;
  margin: 0 auto;
  justify-content: center;
  }
  /* Sections */
  section {
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 150px auto;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  section h2 {
    font-size: 36px;
    margin-top: 0;
  }
  
  section p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  section li {
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    header {
      padding: 50px;
    }
    
    section {
      margin: 100px auto;
    }
  }
  